.item-list {
    margin-bottom: 1rem;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;

    padding-left: 0;
    margin-bottom: 0;
}

.item-list::after {
    content: "";
    width: 30%;
}

.list-item {
    cursor: pointer;
    width: 30%;
    margin-bottom: 2%;

    border-radius: 0.25rem;

    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    background-color: #303030;
    border: 1px solid #444;

    transition: all .1s linear;

    overflow: hidden;

    /*transition: all 3s ease-in-out;*/
}
.list-item:last-child {
    /*margin-right: auto;*/
}

.list-item:hover {
    position: relative;
    background-color: #444;
    transform: scale(1.05);
    z-index: 1;
    transition: all 0.1s linear;
}

/*.list-item-image {*/
    /*display: block;*/
    /*margin: 0 auto 5px;*/
    /*max-width: 150px;*/
    /*min-height: 225px;*/
/*}*/

.list-item-text {
    display: block;
    text-align: center;
    font-size: 12px;
}

.list-item:hover .list-item-text {
    color: #00bc8c;
    animation: sw-animation 4s linear;
}

@keyframes sw-animation {
    15% {
        transform: perspective(30px) rotateX(50deg);
    }
    100% {
        transform: scale(1.8) perspective(30px) rotateX(50deg)  translateY(155%);
    }

}

.list-item-transition-appear{
    /*opacity: 0;*/
    /*transform: scale(.5) perspective(50px) rotateX(50deg) translateY(-150%);*/
}

.list-item-transition-appear.list-item-transition-appear-active{
    /*opacity: 1;*/
    /*transform: scale(1.4) perspective(40px) rotateX(50deg)  translateY(170%);*/
    /*transition: all 3s linear;*/
}
